# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fabric
*.pbix
fabric_cicd.error.log

# Deploy artifacts
.deploy-secrets.json
deployed_faultinj.ipynb
