# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fabric
*.pbix
deployed_faultinj.ipynb
_deploy_notebooks.py
fabric_cicd.error.log
faultinj_instance.txt
